In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark import SparkContext

In [4]:
pyspark = SparkSession.builder \
.master('local[4]') \
.appName('BasicTransformations') \
.config('spark.executor.memory', '4g') \
.config('spark.driver.memory', '2g') \
.getOrCreate()

In [5]:
sc = pyspark.sparkContext

In [7]:
liste = [1,2,3,4,5,6,6,8,4,1]

In [8]:
liste_rdd = sc.parallelize(liste)
liste_rdd.take(10)

[1, 2, 3, 4, 5, 6, 6, 8, 4, 1]

# Map

In [9]:
liste_rdd.map(lambda x: x*x).take(10)

[1, 4, 9, 16, 25, 36, 36, 64, 16, 1]

# Filter

In [10]:
liste_rdd.filter(lambda x: x<5).take(5)

[1, 2, 3, 4, 4]

In [11]:
liste_rdd.filter(lambda x: x==5).take(5)

[5]

# Distinct

In [19]:
liste_rdd.distinct().take(10)

[4, 8, 1, 5, 2, 6, 3]

# Sample

In [20]:
#sample(withReplacement, fraction, seed=None)
liste_rdd.sample(True, 0.5, 42).take(10)

[4, 6, 6]

In [21]:
liste_rdd.sample(True, 0.5, 42).take(10)

[4, 6, 6]

In [22]:
liste_rdd.sample(True, 0.7, 40).take(10)

[1, 3, 3, 6, 8, 8, 8]

In [23]:
liste_rdd.sample(True, 0.7, 40).take(10)

[1, 3, 3, 6, 8, 8, 8]

In [24]:
liste_rdd.sample(True, 0.3, 40).take(10)

[4, 4, 4, 4]

# flatMap

In [12]:
text = ['Amanda loves shopping', 'Jack loves skiing', 'John likes cats']
text_rdd = sc.parallelize(text)
text_rdd.take(5)

['Amanda loves shopping', 'Jack loves skiing', 'John likes cats']

In [13]:
text_rdd.map(lambda x: x.upper()).take(3)

['AMANDA LOVES SHOPPING', 'JACK LOVES SKIING', 'JOHN LIKES CATS']

In [14]:
text_rdd.flatMap(lambda x: x.upper()).take(3)

['A', 'M', 'A']

In [17]:
text_rdd.flatMap(lambda x: x.split()).map(lambda x: x.upper()).take(3)

['AMANDA', 'LOVES', 'SHOPPING']